<a href="https://colab.research.google.com/github/shaid03/Coursework/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Programming Language used for Machine Learning***
1. ***Python***
2. ***R***

### ***Now we are starting python***

***Input Function***

In [ ]:
first_number = int(input("Enter first number: "))
second_number = int(input("Enter second number: "))

sum = first_number + second_number
print(sum)

Enter first number: 12
Enter second number: 12
24

***changing data type***

In [ ]:
num = 5
print(float(num))

5.0

***Data Type in python***
1.   Integer
2.   Float Point
3.   Complex
4.   Boolean
5.   String

In [ ]:
# interger
a = 10
print(a)
type(a)

10

int

In [ ]:
# float
a = 10.0
print(a)
type(a)

10.0

float

In [ ]:
# complex
sum = 3 + 4j
print(sum)
type(sum)

(3+4j)

complex

***conversion of one data type to another***

In [ ]:
n = 10
print(n)
type(n)

10

int

In [ ]:
y = float(n)
print(y)
type(y)

10.0

float

***Boolean***

In [ ]:
a = True
print(a)
type(a)

True

bool

In [ ]:
a = 10 > 12
print(a)
type(a)

False

bool

***String***

In [ ]:
my_string = 'Machine Learning'
print(my_string)
type(my_string)

Machine Learning

str

***Slicing***

In [ ]:
new_string = 'Programming'
print(new_string[0 : 6]) #value from index 0 to 6-1 will be sliced

Progra

In [ ]:
#step
new_string = 'Programming'
print(new_string[0 : 10 : 2]) #value from index 0 to 6-1 will be sliced with step 2

Pormi

***String concatenation***

In [ ]:
word_one = 'Machine '
word_two = 'Learning'

print(word_one + word_two)

Machine Learning

Type of objects in python


1.   Immutable Objects
2.   mutable Objects

Immutable Objects
1. Int
2. Float
3. String
4. bool
5. tuple

Mutable Objects
1. List
2. Set
3. Dictionary

List

In [ ]:
# list should be enclosed in square bracket
# having multiple values and can store multiple data type
my_list = [1,2,3,4,5,6]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5, 6]

list

In [ ]:
# can store mltiple data type

multipe_list = [1, 2.1, 'Machine', True]
print(multipe_list)
type(multipe_list)

[1, 2.1, 'Machine', True]

list

list are mutable it can be changed

In [ ]:
# append is the function to add elements
my_list = [1,2,3,4,5,6]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 5, 6, 10]

In [ ]:
# print element of the list through index
print(my_list[0])
print(my_list[5])

1
6

In [ ]:
# list allow duplicate value
my_list = [1,2,3,4,5,6,1,2,3]
print(my_list)
# how to count the element inside the list
print(len(my_list))

[1, 2, 3, 4, 5, 6, 1, 2, 3]
9

In [ ]:
# empty list and than add a element
my_list= []
print(my_list)
my_list.append(10)
print(my_list)

[]
[10]

In [ ]:
# Delete element to list
my_list = [1,2,3,4]
print(my_list)

del my_list[2]
print(my_list)

[1, 2, 3, 4]
[1, 2, 4]

***Tuple***

In [ ]:
tuple_1 = (1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [ ]:
#typle allow multiple data type
tuple_2 = (1,2,3, 'Machine Learning', 6.8)
print(tuple_2)
type(tuple_2)

(1, 2, 3, 'Machine Learning', 6.8)

tuple

In [ ]:
# convert list to typle
llist = [1,2,3,4,5,6,7,7]
print(llist)

ttuple = tuple(llist)
print(ttuple)
type(ttuple)

[1, 2, 3, 4, 5, 6, 7, 7]
(1, 2, 3, 4, 5, 6, 7, 7)

tuple

In [ ]:
#printing the value of tuple through indexing
t = [1,2,3,4,5,6,7,7]
print(t[1])
print(t[2])

2
3

***Set***

In [ ]:
# set is Mutable
# dont allow duplicat value
# dont call value through indexing
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
# convert list to a set
li = [1,2,3,4,5,6,7,7]
print(li)

x = set(li)
print(x)

[1, 2, 3, 4, 5, 6, 7, 7]
{1, 2, 3, 4, 5, 6, 7}

***Dictionary***

In [ ]:
# contain key value pair
# doesnt allow duplicate or repeated value
# in list or tuple we call element through there index but in dictonary we call it through key
my_dict = {"name" : "Shahid", "age" : 23, "city": "Swabi"}
print(my_dict)
type(my_dict)


# now how to call it through key

print(my_dict['name'])
print(my_dict['age'])
print(my_dict['city'])

{'name': 'Shahid', 'age': 24, 'city': 'Swabi'}
Shahid
24
Swabi

***Operators in python***

Arithmetic operators,

Assignment operators,

Comparison operators,

Logical operators,

Identity operators,

Membership operators

***Arihematic Operators***
Arithmetic operators are symbols used in programming and mathematics to perform basic arithmetic operations on numerical values. These operators allow you to manipulate numeric data in various ways.

In [7]:
num_1 = 20
num_2 = 10

#addition
sum = num_1 + num_2
print("sum: ",sum)

#substraction
sub = num_1 - num_2
print("substraction: ",sub)

#multiplaction
product = num_1 * num_2
print("multiplaction: ",product)

#division
div = num_1 / num_2
print("division: ",div)

#exponent
exp = num_1**num_2
print("Exponent: ",exp)

#modules
mod = num_1 % num_2
print("Modules: ",mod)

sum:  30
substraction:  10
multiplaction:  200
division:  2.0
Exponent:  10240000000000
Modules:  0

Assignment operator

+=

-=

*=

/=

**=

%=

In [9]:
#assignment operator is used to asign value to varible
# (=) is used for assign and (==) is used for equalto
val = 10 # here we asign 10 to variable
print(val)

10

In [12]:
a = 5
a += 5 # a = a + 5
print(a)

b = 5
b -= 1 # b = b - 1
print(b)

10
4

***Comparsion operators***

In [15]:
a = 10
b = 20

print(a == b) # equal to
print(a != b) # not equal to
print(a > b) # greater than
print(a < b) # less than
print(a >= b) # greater than or equal to
print(a <= b) # less than or equal to

False
True
False
True
False
True

***Logical Operators***

there are three logical operator

and

or

not

In [19]:
a = 10

print( a > 5 and a < 11)  # both value must be true
print( a > 5 or a < 11)  # both value must be true
print( not( a > 5 and a < 11)) # inverse the value

True
True
False

***Identity Operators***

is

is not

In [24]:
a = 51
b = 5
print(a is b)


y = 10
z = 10
print(y is not z)

False
False

***Membership Operator***

in

not in

In [27]:
a = 3
b = 66

listt = [1,2,3,4,5,6,7,8,9]
print(b in listt)


listt = [1,2,3,4,5,6,7,8,9]
print(a not in listt)

False
False

***conditional*** ***statements***

In [29]:
# if else statement

a = 40
b = 55

if(a > b):
  print("a is greater than b")
else:
  print("b is greater number")

b is greater number

In [33]:
# lets take the value from the users

first_number = int(input("Enter first number: "))
second_number = int(input("Enter second number: "))

if(first_number > second_number):
  print("first_number is greater than second number")
else:
  print("second_number is greater than first number")

Enter first number: 100
Enter second number: 44
first_number is greater than second number

In [3]:
# if,elif,else statement

a = 20
b = 110
c = 50

if(b<a>c):
  print(a, "is greatest number")
elif(a<b>c):
  print(b, "is greatest number")
else:
  print(c, "is greatest number")

110 is greatest number

***Nested if Statement***

In [1]:
a = 120
b = 140
c = 70

if(a>b):
  if(a>c):
    print("a is the greatest number")
  else:
    print("c is the greatest number")
else:
  if(b>c):
    print("b is the greatest number")
  else:
    print("c is the greatest number")

b is the greatest number

***Loops***

In [3]:
# not recommended way
laptop1 = int(input("Enter laptop price: "))
laptop2 = int(input("Enter laptop price: "))
laptop3 = int(input("Enter laptop price: "))
laptop4 = int(input("Enter laptop price: "))
laptop5 = int(input("Enter laptop price: "))

Enter laptop price: 2000
Enter laptop price: 3000
Enter laptop price: 133232
Enter laptop price: 232323
Enter laptop price: 232323

In [6]:
# now here use loop for the above snipet
for i in range(5):
  laptop_price = int(input("Enter laptop price: "))

Enter laptop price: 2323232
Enter laptop price: 3323232
Enter laptop price: 44434343
Enter laptop price: 34323231
Enter laptop price: 34545242

In [3]:
#loops in list

l = [1,2,3,4,5,6,7]

#print(l[0])
#print(l[1])
#print(l[2])
#print(l[3])
#print(l[4])
#print(l[5])

#now do in simple way
for i in l:
  print(i)

#both have same result

1
2
3
4
5
6
7

***While loop***

In [3]:
#Condition
  #Statement

i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

***Function***

Function is a block of code that can be reused again and again

***Example: Factorail of number:***

Factorail of a number is the product of all the positive integers less than or equal to the given number

In [9]:
# factorail of 5 = 5*4*3*2*1 = 120

number = int(input("Enter the number to find factorail: "))

factorial = 1

if number == 0:
  print("The factorail of 0 is equal to 1")

else:
  for i in range(1, number+1):
    factorial = factorial*i
  print("THe factorail of ",number,"is ",factorial)

Enter the number to find factorail: 1
THe factorail of  1 is  1

In [14]:
#now lets create function from above factorail program
def factorail_value(num):

  factorial = 1

  if num == 0:
    return factorial

  else:
    for i in range(1, num+1):
     factorial = factorial*i
    return factorial

In [15]:
print(factorail_value(5))

120